@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-custom {
    transition: all .2s ease-in-out;
}

.body-paragraph {
    @apply mb-6 text-lg text-body;
}

.btn {
    @apply px-4 py-2 font-semibold rounded-lg text-lg border;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.btn:hover {}

.btn-primary {
    @apply bg-primary text-white border-primary;
}

.btn-primary:hover {
    @apply bg-primaryHover shadow border-primaryHover;
}

.btn-secondary {
    @apply bg-secondary border-primary;
}

.btn-secondary:hover {
    @apply bg-primary text-white;
}

.btn-white {
    @apply bg-white text-heading border-white;
}

.btn-white:hover {
    @apply bg-dark border-dark text-white;
}

.btn-text {
    @apply text-primary flex;
    padding-left: 0px !important;
    align-items: center;
    position: relative;
    border: none !important;
}

.btn-text:hover {
    @apply underline;
}

.btn-text svg {
    transition: all .2s ease-in-out;
}

.btn-text:hover svg {
    transform: translateX(2px);
    scale: 105%;
}

.text-link-arrow {
    @apply h-4 w-4;
}

.card {
    @apply border shadow-sm shadow-secondary rounded-lg border-[#f3f4f6];
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    gap: 30px;
    padding: 40px;
}

.markdown-body a {
    text-decoration: none !important;
}

.prose p u {
    @apply decoration-primary font-bold;
}